<div class="col-md-6">
	<%= form_for @comment, url: comments_path do |f| %>
	    <%= f.hidden_field :article_id, value: @article.id %>
	    <% if current_user %>
	            <%= f.hidden_field :user_id, value: current_user.id %>
	    <% end %>
	<div class="form-group">
	    <%= f.label :content %>
	    <%= f.text_area :content, :class => "form-control", rows: 10 %>
	</div>
	    <%= f.submit :submit %>
	<% end %>
</div>