<h1>Edit Article</h1>
<%= form_for @article do |f| %>
	<div class="form-group">
		<%= f.label :title %>
		<%= f.text_field :title, :class => "form-control"%>
	</div>

	<div class="form-group">
		<%= f.label :content %>
		<%= f.text_area :content, rows: 10, :class => "form-control"%>
	</div>
	<div class="form-group">
		<%= f.label :status %>
		<div class="checkbox">
			<label>
			<%= f.radio_button :status, "active" %>
			<%= label :article_status, 'active' %>
			</label>
		</div>
		<div class="checkbox">
			<label>
			<%= f.radio_button :status, "off" %>
			<%= label :article_status, 'off' %>
			</label>
		<div>
	</div>

	<%= f.submit :submit, :class => "btn btn-primary"%>
	<%= link_to "back to index", articles_path, :class => "btn btn-warning" %>
<% end %>
		
