<div class="col-md-8">	
	<% @articles.each do |article| %>
	<h3 class="title"><%= article.title %></a></h3> 
	<p><%= article.content.truncate(50) %>  <%= link_to 'read more', article_path(article.id) %></p>
	<small>status : <i class="active"><%= article.status %></i></small> 
	</br>
	<div class="button-act">
	<ul>
		<li>
		<%= link_to "<button class='btn btn-success btn-xs'>Edit</button>".html_safe, edit_article_path(article.id) %>
		</li>
		<li>
		<%= button_to "delete", {:controller => :articles, :action => 'destroy', :id => article.id}, :method => :delete, :class =>'btn btn-danger btn-xs', data: {confirm: 'Are you sure that you wish to delete?'} %>
		</li>
	</ul>
	</div>
	<hr/>
	<% end %>

	<div class="paginate"><%= will_paginate @articles, renderer: BootstrapPagination::Rails %></div>
</div>

<div class="col-md-4">
	<h3>Import Article</h3>
	<div class="panel panel-default">
		<div class="panel-body">
			<%= form_tag import_articles_path, multipart: true do %>
			<div class="form-group">
			  <%= file_field_tag :file, :class => "form-control" %>
			</div>
			  <%= submit_tag "Import", :class =>'btn btn-success btn-xs' %>
			<% end %>
		</div>
	</div>

	<h3>Export Article</h3>
	<div class="panel panel-default">
		<div class="panel-body">
			Download:
  			<%= link_to "CSV", articles_path(format: "csv") %> |
  			<%= link_to "Excel", articles_path(format: "xls") %>
		</div>
	</div>
</div>

