<h1>New User</h1>
<%= form_for @user do |f| %>

	<div class="form-group">
		<%= f.label :username %>
		<%= f.text_field :username, :class => "form-control" %>
		<div class="alert-danger">
		<%= @user.errors[:username].first unless @user.errors[:username].blank? %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :email %>
		<%= f.text_field :email, :class => "form-control" %>
		<div class="alert-danger">
		<%= @user.errors[:email].first unless @user.errors[:email].blank? %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :password %>
		<%= f.password_field :password, :class => "form-control" %>
		<div class="alert-danger">
		<%= @user.errors[:password].first unless @user.errors[:password].blank? %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation, :class => "form-control" %>
		<%= @user.errors[:password_confirmation].first unless @user.errors[:password_confirmation].blank? %>
	</div>
	<div class="form-group">
		<%= f.label :humanizer_answer, @user.humanizer_question %>
		<%= f.text_field :humanizer_answer, :class => "form-control" %>
		<%= f.hidden_field :humanizer_question_id %>
	</div>
<%= f.submit :submit, :class => "btn btn-primary" %>
<% end %>
